@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.card {
    height: 350px;
}

.info {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    margin-bottom: 50px;
}

.github-logo {
    max-width: 100px;
    max-height: 100px;
    vertical-align: center;
}

.logo-box {
    height: 150px;
    line-height: 150px;
    margin: 0 auto;
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

.propublica-logo {
    max-width: 400px;
    margin: 0 auto;
    vertical-align: center;
}

.title {
    font-family: 'Song Myung', serif;
}
  
@media screen and (min-width: 48em) {
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 2rem;
    }
    .jumbotron {
        border-bottom: 0;
    }
}
